<ActionBar title="Calculator" icon="" class="action-bar" color="white" backgroundColor="#115293">
</ActionBar>
<GridLayout rows="auto, *" columns="*, 80">
  <StackLayout row="0" colSpan="2" height="40%">
    <app-calculator-display [value]="value" (valueCheck)="onValueChangeCheck($event)"></app-calculator-display>
  </StackLayout>
  <StackLayout row="1" backgroundColor="#1565c0" (tap)="changeValue()">
    <app-calculator-keypad (keyPressed)="onKeyPressed($event)"></app-calculator-keypad>

  </StackLayout>
  <StackLayout row="1" col="2" backgroundColor="#115293" (tap)="changeValue()">
    <app-calculator-actions></app-calculator-actions>

  </StackLayout>
</GridLayout>