<StackLayout orientation="horizontal">
  <Label *ngFor="let keyValue of firstRow" [text]="keyValue" textWrap="true" fontSize="36dp" padding="28dp" margin="0dp 16dp"
    color="white"></Label>
</StackLayout>
<StackLayout orientation="horizontal">
  <Label *ngFor="let keyValue of secondRow" [text]="keyValue" textWrap="true" fontSize="36dp" padding="28dp" margin="0dp 16dp"
    color="white"></Label>
</StackLayout>
<StackLayout orientation="horizontal">
  <Label *ngFor="let keyValue of thirdRow" [text]="keyValue" textWrap="true" fontSize="36dp" padding="28dp" margin="0dp 16dp"
    color="white"></Label>
</StackLayout>
<StackLayout orientation="horizontal">
  <Label *ngFor="let keyValue of fourthRow" [text]="keyValue" textWrap="true" fontSize="36dp" padding="28dp" margin="0dp 18dp"
    color="white" textAlignment="Right"></Label>
</StackLayout>